# API Key File
*/values/apikey.xml
*/values/urls.xml

# Suggested files to be ignored from stackoverflow
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/modules.xml
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.DS_Store
/build
*.iml